/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.class.css";
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* Manual overrides for Alert in Dark Mode */
.ion-palette-dark {
  ion-alert {
    --background: #1e1e1e !important;
    --color: #ffffff !important;

    /* Optional text tweaking */
    .alert-head,
    .alert-title,
    .alert-sub-title,
    .alert-message {
      color: #ffffff !important;
    }
  }
}

/* Fix Date Picker Icon Colors using Color Scheme */
/* Light Mode (Default) - Request Light System Controls (Black Icon) */
input[type="date"] {
  color-scheme: light;
}

/* Dark Mode - Request Dark System Controls (White Icon) */
.ion-palette-dark input[type="date"] {
  color-scheme: dark;
}
